/* CSS declarations go here */

@icon-font-path: "/font/";

html, body {
	font-size: 100%;
	margin: 0;
	padding:0;
	background-color:#150a1a;  
	overflow-y: hidden;
   	overflow-x: hidden; 
}


/* Menu */

/* Menu: Edit Profil, You, Avatar */
.talk {
	position:absolute; 
	z-index:1000; 
}
.edit_avatar_overlay  {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
	color: #333333;
	font-size: 16px;
	margin: -8px -12px 0;
	padding: 8px 12px;
	width: 280px;
	z-index: 1000;
	position: absolute;
	top: -1px;
	left: 400px;
}

.onmi_overlay  {
	position:fixed;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3); 
	top: 60px; 
	width: 310px;
	right: 0px;
	z-index:1100; 
	background-color: #E8E8E8 ;
	padding:4px; 
	opacity:0.8; 
}

.ask_omni {
	width:200px; 
}

.edit_key_overlay {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
	color: #333333;
	font-size: 16px;
	margin: -8px -12px 0;
	padding: 8px 12px;
	width: 200px;
	z-index: 2000;
	position: absolute;
	top: -1px;
	left: 140px;
}

/* Admin panel */
.admin_panel_active {
	position: fixed; 
	top: 0px; 
	right: 10px; 
	z-index: 10000; 
	background-color: white; 	
	color: #F8F8FF; 
}

.admin_panel_active a {
	color: #F8F8FF; 
}

/* Menu: Login, Logout */

#login-buttons {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
	color: #333333;
	font-size: 16px;
	margin: -8px -12px 0;
	padding: 8px 12px;
	width: 400px;
	z-index: 1000;
	position: absolute;
	width: 200px; 
	right: 0;
}


/* Chat */

.the_chat {
	position: relative;
	border: 1px solid #999;
	margin: 0 5px;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	bottom: 0px;
	transition: 1s; 
	overflow: none;
	width:      100%;
	height:     500px;
	background: rgba(0,0,0,0.5)
}

.about {
	position:fixed;
	left:10px; 	
	z-index:999; 
}

.about_content {
	position: fixed;
	width: 100%; 
	height: 100%;
	z-index:10010; 
	background-color:white; 
	opacity:0.9; 
	padding-top:10px; 
	top:0;
	left:0; 
}
.all_points {
	position:relative;
	top: 40px; 
	left: 330px; 
}
.points {

	left: 400px; 
	width: 500px; 
}
.messages {
	position: fixed;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
	color: #333333;
	font-size: 16px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 12px;
	width: 300px;
	z-index: 1056;
	top: 41px;
	left: 0;
	height: 80%;
	overflow: auto;    
	bottom: 0;
	background: rgba(200, 200, 200, 0.5);
}

.messages_head {
	position:fixed; 
	z-index:1057; 
	background-color: yellow;
	top: 41px; 
	left: -3px;
	width: 299px;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.3);
	padding: 8px 12px;
	font-weight: bold;
	font-family: monospace;
	font-size: inherit;
}

.expanded .messages_head {
	background-color: black; 
	width: 600px;
}

.chat_choose {
	z-index:1057; 
}

.hide_chat {
	cursor:pointer; 
	left: -120px;
}

.show_chat, .expand_chat, .contract_chat, .onmiHal, .contracted_chat, .hide_chat {
	cursor:pointer; 
	background: rgba(200, 200, 200, 0.5);
}

.chat_form {
  	position: relative; 
	bottom: 0;   
	overflow: none;  
	background-color:white; 
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;  
	border: 1px solid black;
	opacity:0.9; 	   
}

.chat_form input[type="text"] {
	margin-top:10px;
	width:95%; 	 
}
.expanded .chat_form input[type="text"] {
	margin-top:-35px; 	 
	margin-left:-14px; 
	padding:4px; 
}

.inputText {
    width: 100%
}
.sound_container {
	position:fixed;
	width:400px;
	height:60px;
	overflow:hidden;
	bottom:-34px; 
	right:0px;
	z-index:1000; 
}
.sound_div {
	position:absolute;
	z-index:1000;
	top:-276px;
	left:-5px 
}

.trans {
	margin-bottom: 2px;
}


.chat_message {
	font-size: 12px; 
	padding-right:20px; 
}


.avarar_name_time {
	width: 50px; 
	font-size: 10px; 
}
.time {
	font-size: 10px; 
}
.chat_name {
	font-size: 14px; 
	color: #251925;
	text-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.7); 
	font-family:monospace; 
	font-weight:bold; 
}
.chat_time {
	margin-right: 20px; 	
}
.chat_message {
	display:block; 
	background-color: white;
	background: none repeat scroll 0 0 #FFC0CB;
    border: 1px solid #777777;
    border-radius: 2px;
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.7);
    color: #333333;    
	margin:10px; 
	padding:4px; 
}


.message_image {
	background:yellow;
}

.message_image img {
	float:right; 
}

.media {
	border-bottom: 1px solid black;
}

.expanded {
	position: fixed;
	width: 100%;
	height: 100%; 
  	background-color: black; 
	color: yellow; 
	font-size: 13px;
	z-index: 9000; 
    overflow-y:   scroll; 
    overflow-x:   hidden; 
	padding-left: 20px; 
	padding-right: 20px; 
	left:0; 
	top: 0;
	opacity:0.9;
}

.expanded .back_to_webchat{
	background-color: #000000;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	font-size: 20px;
	left: -15px;
	padding: 8px 12px;
	position: fixed;
	top: 3px;
	width: 800px;
	z-index: 1056;
}
.expanded .chat_message {
	display:inline; 
	background-color: #000;
	background: #000;
    border: 0px none;
    border-radius: 0;
    box-shadow: 0;
    color: #FFFF00;    
	margin:0; 
	padding:0; 
}
.expanded img {
	display:none;
}

.expanded .chat_name {
	color:lime;
}

.expanded .time {
	font-size:12px;
	color:Aqua;
}

.sized {
  width:30%; 	
}

.expanded .text {
	position: absolute;
	bottom: 60px;
}
.message_name { 
	color:lime; 
}

.expanded .media, .expanded .media .media{
	margin-top:0;
}

/* Gameboard */
.center {
  width:1400px; 
  margin-left: auto ;
  margin-right: auto ;
}

.gameboard {
	position:fixed; 
	z-index: 10000;

}

.the_canvas {
  	position: absolute;
  	top: 100px;
	left: 0; 
	z-index: 1;
    border-radius: 2px;
    box-shadow: 2px 16px 16px 4px rgba(0, 0, 0, 0.7);
}

.irc {
  	position: absolute;
	background-color: black;
	width: 100%;
	opacity:0.9;
}

.indicator_img_div img {
	padding-top: -120px;	
	padding-left: 40px; 
	width: 10px; 
	z-index: 10000;
}

.indicator {
	padding-top: 150px;	
	padding-left: 20px; 
	z-index: 9000; 
}



.player_pos {
	padding-top:-230px;
	padding-left:-30px;  
}

.player_pos_img {
	position: absolute;
	z-index:10;
}

.player_name  {
	color:white; 
}

.perspective_grid {
    position: absolute; 
    overflow: hidden;
	min-height: 800px;
	max-height: 1000px; 
	background-image:url("img/backcolor.jpg");
	background-size:100%;
	overflow-y: hidden;
   overflow-x: hidden; 
	width:1600px; 
	margin-left: auto ;
	margin-right: auto ;
	top: 36px;
}

.player {
	position: absolute;
	-webkit-transform: rotate(35deg) skew(35deg, -35deg) scale(0.65, 1.23);
	-mozkit-transform: rotate(35deg) skew(35deg, -35deg) scale(0.65, 1.23);
	-o-transform:  rotate(35deg) skew(35deg, -35deg) scale(0.65, 1.23);
	-ms-transform:  rotate(35deg) skew(35deg, -35deg) scale(0.65, 1.23);
	transform:  rotate(35deg) skew(35deg, -35deg) scale(0.65, 1.23);
	z-index:10;
}

.score_board {
	position: fixed;
	top: 262px;
	left: 675px;
	-webkit-transform: rotate(59deg) skew(59deg, -32deg) scale(0.65, 1.23);
	-mozkit-transform: rotate(59deg) skew(59deg, -32deg) scale(0.65, 1.23);
	-o-transform:  rotate(59deg) skew(59deg, -32deg) scale(0.65, 1.23);
	-ms-transform:  rotate(59deg) skew(59deg, -32deg) scale(0.65, 1.23);
	transform:  rotate(59deg) skew(59deg, -32deg) scale(0.65, 1.23);
	z-index:100;
	font-size: 50px;
	color: white;
	width:1000px; 
}
.score_board h3 { 
	margin:0; 
	line-height:0; 
	
}	
.disabling {
	position: fixed;
	width: 1600px; 
	height: 1000px;
	z-index:10000; 
	background-color:white; 
	text-align:center; 
	opacity:0.8;
	padding-top:400px; 
}

.insert_npc {
	position: absolute;
	z-index:10;
}

.player_size {
	height: 160px;
	width:100px; 
}

.player_big {
	height: 230px;
	width: 140px; 
	z-index: 1000; 
}

.under_player {
	position: absolute;
	height: 80px;
	z-index:10;
	opacity:0.5;
}

.under {
	font-size: 12px;
	z-index:200; 
	overflow-y: hidden;
   overflow-x: hidden; 
	 
}

.texts {
	position: absolute;
	top: 200px;
	left: 75%; 
	height: 14px;	
	-webkit-transform: rotate(71deg) skew(77deg, -31deg) scale(1.65, 0.23);	
	-moz-transform: rotate(71deg) skew(77deg, -31deg) scale(1.65, 0.23);
	-o-transform: rotate(71deg) skew(77deg, -31deg) scale(1.65, 0.23);
	-ms-transform: rotate(71deg) skew(77deg, -31deg) scale(1.65, 0.23);
	transform: rotate(71deg) skew(77deg, -31deg) scale(1.65, 0.23);
}

.gameboard {
	position: absolute;
	left:600px; 
	top:300px; 
	z-index:100;
	overflow-y: hidden;
   overflow-x: hidden; 
	
 
}
.c_right {
	margin-right: 200px;
	padding-right: 159px;
}

.object_1 {
	position: absolute;
	height: 200px;
	top: 100px;
	left: 1300px;
	z-index:10;
}

.npc_message {
	position: absolute;
 	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    border-radius: 4px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
    color: #333333;
    font-size: 14px;
    margin: -4px -6px 0;
    padding: 4px 6px;
    z-index: 9000;
	display:hidden; 
}

.form_img {
	width: 100px; 
	height: 160px; 
	float: left; 
}

.checkbox_div {
	height:400px; 
	overflow: auto; 
}	
	

img.npc {
   position: absolute;
   z-index: 900;
   top: 100px;  
   left: 300px;   
}
.trans {
	margin-bottom:2px;
}

.example-number {
  position:relative;
  width:120px;

  margin:-160px 20px;
  text-align:center;
  font:17px/20px Arial, sans-serif;
  color:#fff;
  background:#C91F2C;
  z-index: 1000; 
}

/* creates the larger triangle */
.example-number:before {
  content:"";
  position:absolute;
  bottom:-80px;
  right:0;
  border-width:0 0 80px 80px;
  border-style:solid;
  border-color:transparent #C91F2C;
}

/* creates the larger triangle */
.example-number:after {
  content:"";
  position:absolute;
  bottom:-80px;
  right:43px;
  border-width:0 0 80px 35px;
  border-style:solid;
  border-color:transparent #fff;
}
